
{% extends 'base.html' %}
{% load bootstrap4 %}

{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'petPosts/scss/index.scss' %}">
{% endblock style %}

{% load static %}
{% block js %}
<script type="module" src="{% static 'petPosts/js/index.js' %}"></script>
{% endblock js %}

{% block content %}
<script src="{% static 'petPosts/js/index2.js' %}"></script>
  <div class="ranking">
      {% for pet in pet_rank%}
        <p> {{ forloop.counter }}등 </p>
        <p> 펫이름 </p>
        <p> {{pet.1}}</p>
         <img src = "{{pet.3.url}}">
      {% endfor %}
  </div>
  <div class="row justify-content-center">
    {% for post in feed %}
     <div class="card mt-2 mr-2" style="width: 20rem;">
        <div class="card-header">
          <span>{{ post.pet.name }}</span>
          {% if post.pet.owner == request.user %}
            <a onclick="onDeletePost({{post.id}})">삭제</a>
          </form>
          <a href={% url 'petPosts:update' post.id %} class="btn btn-success">수정</a>
          {% endif %}
        </div>
        
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">{{ post.content }}</h5>
        </div>
        
        
        <hr style="border: solid 3px gray">
        <!--좋아요 버튼-->
        <div class="like-container">
        {% if user.is_authenticated %}
        <a class="material-icons mdl-badge mdl-badge--overlap"
          data-badge="{{ post.like_users.count }}"
          onclick="onClickLikeButton({{post.id}})"
          id="{{post.id}}-like-button"
        >
          {% if user in post.like_users.all %}
          favorite
          {% else %}
          favorite_border
          {% endif %}
        </a>
        {% else %}
        <div class="material-icons mdl-badge mdl-badge--overlap" 
          data-badge="{{ post.like_users.count }}">
          favorite
        </div>
        {% endif %}
      </div>
    </div>
        <div class="card-body">  
          <!--Comment에 대한 modelform 작성-->
          <form method="POST" action="{% url 'posts:comment_create' post.id%}" class="d-inline">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <button type="submit" class="btn btn-primary" style="float:right">submit</button>
          </form>
          <hr>
          {% for comment in post.comment_set.all %}
            <strong>{{comment.user}}</strong> <span>{{comment.content}}</span>
            {% if comment.user == request.user %}
              <form class="d-inline-block" method="POST" action="{% url 'posts:comment_delete' post.id comment.id %}">
                {% csrf_token %}
                <button type="submit" class='btn btn-danger pull-right'>삭제</button>
              </form>
            {% endif %}
          
          {% empty %} 댓글이 없습니다.  
          {% endfor %}
        
        </div>
      </div>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div class="myfollowing">
      {% for pet in following_pets%}
        <p>{{ pet.name}} </p>
        <div> {{ forloop.counter }} {{image.url}} </div>
      {% endfor %}
  </div>
  {%endif%}
{% endblock %}

