
{% extends 'base.html' %}
{% load bootstrap4 %}

{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'petPosts/scss/index.scss' %}">
{% endblock style %}

{% load static %}
{% block js %}
<script type="module" src="{% static 'petPosts/js/index.js' %}"></script>
{% endblock js %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="{% static 'petPosts/js/index2.js' %}"></script>
  <div class="category-top">
    <a onclick="onClickCategory(0)"> 전체 </a>
    {% for category in categories%}
 
    <a onclick="onClickCategory({{forloop.counter}})"> {{category}}</a>
    {% endfor %}
  </div>
  </div>
  <div class="ranking">
      {% for pet in pet_rank%}
        <div class="animal" id="{{pet.0.category}}-pet-rank" style ="display:block">
        <p id="pet-rank"> {{ forloop.counter }}등 </p>
        <p> 펫이름 </p>
        <p><a href={% url 'pets:showpet' pet.0.id %} > {{pet.1}}</a></p>
         <img src = "{{pet.3.url}}">
        </div>

      {% endfor %}
  </div>

  <div class="row justify-content-center">
    {% for post in feed %}
     <div class="card mt-2 mr-2" style="width: 20rem;">
        <div class="card-header">
          <a href={% url 'petPosts:show' post.id%} {{ post.pet.name }} </a>
          {% if post.pet.owner == request.user.profile %}
            <a onclick="onDeletePost({{post.id}})">삭제</a>
          <a href={% url 'petPosts:update' post.id %} class="btn btn-success">수정</a>
          {% endif %}
        </div>
        {% for photo in post.photo_set.all%}
        <img src="{{photo.image.url}}" width="500" height="500"><br>
        {% endfor %}

        <div class="card-body">
          <h5 class="card-text"><a href={% url 'petPosts:show' post.id%}>{{ post.content }}</a></h5>
        </div>
        
        
        <hr style="border: solid 3px gray">
        <!--좋아요 버튼-->
        <div class="like-container">
        {% if user.is_authenticated %}
        <a class="material-icons mdl-badge mdl-badge--overlap"
          data-badge="{{ post.like_users.count }}"
          onclick="onClickLikeButton({{post.id}})"
          id="{{post.id}}-like-button"
        >
          {% if user in post.like_users.all %}
          favorite
          {% else %}
          favorite_border
          {% endif %}
        </a>
        {% else %}
        <div class="material-icons mdl-badge mdl-badge--overlap" 
          data-badge="{{ post.like_users.count }}">
          favorite
        </div>
        {% endif %}
      </div>
    </div>
        <div class="card-body">  
          <!--Comment에 대한 modelform 작성-->
          <p id="comment-count"><strong>댓글이 {{ post.comment_set.count }}개 있습니다 </strong>
          <p>
          {% csrf_token %}
          <input id="post{{post.id}}-comment-input" type="text" name="content" />
          <button onclick="onAddComment({{post.id}})">댓글 달기</button>

          <hr>
    </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
  <div class="myfollowing">
      {% for pet in following_pets%}
        <p>{{ forloop.counter }}<a href={% url 'pets:showpet' pet.id %} >{{ pet.name}}</a> </p>
        <div>  <img src = "{{pet.image.url}}"></div>
      {% endfor %}
  </div>
  {%endif%}
{% endblock %}

