{% extends 'base.html' %}

{% block content %}
  <h1>new post</h1>
  <form action="{% url 'petPosts:new' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--<p>나의 펫,</p>
    <div class="form-group">
        <select name="pet" class="selectpicker" data-title="Select Pet" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
          {% for x,y in form.fields.category.choices %}
            <option value="{{ x }}"{% if form.fields.category.value == x %} selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>
    </div>
    <p>의 포스트 작성</p>-->
    <p>태그 선택</p>
    {% for tag in tags %}
      {{ tag.content }}
      <input name="tags" type="checkbox" value={{tag.id}} />
    {% endfor %}
    <p>title</p>
    <input name="title" /> <br />
    <input type="file" name="imgs" multiple>
    <p>content</p>
    <textarea name="content" rows="30" cols="50"></textarea> <br />
    <input type="submit" value="submit" />
  </form>
{% endblock content %}