{% extends 'base.html' %}

{% block content %}

{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'petPosts/scss/search.scss' %}">
{% endblock style %}


  <div class="search-head">
  <div class="search-box">
  <div class="search-pet">
   SEARCH
    </div>
    <div class="pet-search">
    <input onkeyup="filter()" type="text" id="value" placeholder="펫 이름을 입력해주세요">
    </div>
  </div>
  </div>

  <div class="pet-container">
  {% for pet in pets %}
  <div class="each-pet">
    <a class="pet" href="{% url 'pets:showpet' pet.id %}">

    <div class="name">{{pet.name}}</div>
    <div class="move-class">
    <a class="move" href="{% url 'pets:showpet' pet.id %}"><span class="text">MORE </span></a>
    </div>

    <hr>
    <img class="img" src="{{ pet.image.url }}"><br>
    </a>
  </div>
  {% endfor %}
  </div>

  <script>
  function filter(){

	  var value, name, pet, i;

	  value = document.getElementById("value").value.toUpperCase();
	  pet = document.getElementsByClassName("each-pet");

	  for(i=0;i<pet.length;i++){
      name = pet[i].getElementsByClassName("name");
      if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
		  pet[i].style.display = "flex";
      }else{
		  pet[i].style.display = "none";
      }
	  }
  }
  </script>

{% endblock content %}