{% extends 'base.html' %}

{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'petPosts/scss/show.scss' %}">
{% endblock style %}
{% load static %}
{% block js %}
<script type="module" src="{% static 'petPosts/js/show.js' %}"></script>
{% endblock js %}
{% block content %}
<script language="JavaScript" type="text/javascript" src="{% static 'petPosts/js/show2.js' %}"></script>

<!--
<div>
  <div class="pet-intro">
  <div class="pet-photo">
  <img class="pet-image" src="{{post.pet.petimage.image.url}}" width="500">
  </div>
  <div class="petname">{{post.pet.name}}</div>
  <div class="right-component">
  <a class="to-home" href="{% url 'petPosts:index' %}"><span class="text">HOME</span></a>
<a class="back" href="{% url 'pets:showpet' id=post.pet.id %}"><span class="text">BACK TO PET PAGE</span></a>
  </div>
  </div>
  <section class="feed">
      <div class="feedzone">
  <div class="postzone">
    <div class="post-title" data-post-id="{{ post.id }}">{{ post.title }}</div>
    <div class="post-date">{{ post.created_at }}</div>
    {% for photo in post.photo_set.all%}
      <img src="{{photo.image.url}} " width="50%"><br>
    {% endfor %}

    <div class="like-container">
        {% if user.is_authenticated %}
        <a class="material-icons mdl-badge mdl-badge--overlap"
          data-badge="{{ post.like_users.count }}"
          onclick="onClickLikeButton({{post.id}})"
          id="{{post.id}}-like-button">
          {% if user in post.like_users.all %}
          favorite
          {% else %}
          favorite_border
          {% endif %}
        </a>
        {% else %}
        <div class="material-icons mdl-badge mdl-badge--overlap" 
          data-badge="{{ post.like_users.count }}">
          favorite
        </div>
        {% endif %}
      </div>
    <div class="post-content">{{ post.content }}</div>
    {% if post.pet.owner == request.user.profile %}
    <div class="edit">
    <a href="{% url 'petPosts:update' id=post.id %}">수정하기</a>
    <a id="post-delete" onclick="onDeletePost({{post.id}}, {{post.pet.id}})">삭제하기</a>
    </div>
    {% endif %}
    </div>
  <div class="commentzone">
  <div class="comments">
    <p id="comment-count"><strong>댓글이 {{ post.comment_set.count }}개 있습니다</strong>
    <p>
    {% csrf_token %}
    <input class="input" id="post{{post.id}}-comment-input" type="text" name="content" />
  <button class="button" onclick="onAddComment({{post.id}})">댓글 달기</button>
  <div id="{{post.id}}-comment-list" class="list">
    {% for comment in post.comment_set.all|dictsortreversed:"like_users.count" %}
    <div id="post{{post.id}}-comment{{comment.id}}">
      <div class="comment">
      <div>
      {{ comment.author }}: {{ comment.content }} &nbsp; &nbsp; {{ comment.created_at|date:'Y년 M d일 H:m'}}
        {% if user.is_authenticated %}
          <a id="comment{{comment.id}}-like-button" onclick="onLikeComment({{comment.id}})">
            {{ comment.like_users.count }} Likes
          </a>
        {% endif %}
        {% if request.user == comment.author %}
          <a onclick="onDeleteComment({{post.id}}, {{comment.id}})">댓글 삭제</a>
        {% endif %}
        </div>
                             
        </div>
  

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
</section>
</div>

-->


<!--style by keepTaeBorn-->
<div class="whole">
<div class="container">
<div class="left">
  <div class="pet">
    <a href="{% url 'pets:showpet' id=post.pet.id %}"> <img class="pet-image" src="{{post.pet.petimage.image.url}}" width="50"> </a>
    <div class="petname">{{post.pet.name}}</div>
  </div>
  
  <div class="pics">
    {% for photo in post.photo_set.all %}
      <img class="pic" src="{{photo.image.url}} " width="100%"><br>
    {% endfor %}
  </div>
</div>
<div class="right">
  <div class="title">
    <div id="post-title" data-post-id="{{ post.id }}"> {{ post.title }} </div>
    <div class="post-info">
    {% if post.pet.owner == request.user.profile %}
      <a href="{% url 'petPosts:update' id=post.id %}"> 수정 </a>
      <a id="post-delete" onclick="onDeletePost({{post.id}}, {{post.pet.id}})"> 삭제 </a>
    {% endif %}
    {{ post.created_at }}
    </div>
  </div>
  <div class="post-content">
    {{ post.content }}
  </div>
  <div class="content-footer">
  <div class="like-container">
    {% if user.is_authenticated %}
      <a class="material-icons mdl-badge mdl-badge--overlap"
          data-badge="{{ post.like_users.count }}"
          onclick="onClickLikeButton({{post.id}})"
          id="{{post.id}}-like-button">
          {% if user in post.like_users.all %}
          favorite
          {% else %}
          favorite_border
          {% endif %}
        </a>
        {% else %}
        <div class="material-icons mdl-badge mdl-badge--overlap" 
          data-badge="{{ post.like_users.count }}">
          favorite
        </div>
        {% endif %}
  </div>
  <div class="comments">
    <p id="comment-count"><strong>댓글이 {{ post.comment_set.count }}개 있습니다</strong>
      <p>
      {% csrf_token %}
      <textarea class="input" id="post{{post.id}}-comment-input" type="text" name="content" rows="1", cols="50" placeholder="댓글 달기..."></textarea>
      <!--<input class="input" id="post{{post.id}}-comment-input" type="text" name="content" placeholder="댓글 달기..."></input>-->
      <button class="button" onclick="onAddComment({{post.id}})">게시</button>
  </div>
  </div>
  <div id="{{post.id}}-comment-list" class="list">
    {% for comment in post.comment_set.all|dictsortreversed:"like_users.count" %}
      <div id="post{{post.id}}-comment{{comment.id}}" class="comment">
        <div class="com-con">
        {{ comment.author }} : {{ comment.content }} &nbsp; &nbsp; 
        </div>
        <div class="com-info">
        {{ comment.created_at|date:'Y년 M d일 H:m'}}
        {% if user.is_authenticated %}
          <a id="comment{{comment.id}}-like-button" onclick="onLikeComment({{comment.id}})">
            {{ comment.like_users.count }} Likes
          </a>
        {% endif %}
        {% if request.user == comment.author %}
          <a onclick="onDeleteComment({{post.id}}, {{comment.id}})">삭제</a>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
</div>








{% endblock content %}