{% extends 'base.html' %}

{% block content %}

{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'petPosts/scss/update.scss' %}">
{% endblock style %}

<div class="whole">
  <div class="container">

    <div class="left">
      <a class="back" href="{% url 'petPosts:show' id=post.id %}">Back</a>
      <h1 class="title">POST UPDATE</h1>
    </div>
    <div class="right">
    <form action="{% url 'petPosts:update' id=post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="text">title</p>
    <input class="input" name="title" value="{{post.title}}"/> <br />
    <input class="file-upload" type="file" name="imgs" multiple>
    <p class="text">content</p>
    <textarea class="input" name="content" rows="8" wrap="hard">{{ post.content }}</textarea> <br />
    <input class="input" type="submit" value="submit" />
    </form>
    </div>
  </div>
</div>



{% endblock content %}
