{% extends 'base.html' %}

{% block content %}
    <h1>update pet</h1>
  <form action="{% url 'pets:update' id=pet.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>펫 종류 선택</p>
    <p>이름</p>
    <input name="name" value={{pet.name}} /> <br />
    <input type="file" name="image" value={{pet.image}}>
    <p>소개</p>
    <textarea name="introduction" rows="30" cols="50" value={{pet.introduction}}></textarea> <br />
    <input type="submit" value="submit" />
  </form>
{% endblock content %}