html {
    scroll-behavior: smooth;
}
.mdl-layout__header{
    background-color: white!important ;
}
.mdl-layout__header-row{
    background-color: white!important ;
}
.mdl-layout__header .mdl-layout__drawer-button {
    color: black!important;

}
.mdl-navigation__link{
    color: black!important;
}


.u-footer {
    background-image: none;
}
.u-grey-80, .u-body.u-grey-80, .u-container-style.u-grey-80:before, .u-table-alt-grey-80 tr:nth-child(even) {
    padding-top: 1%;
    color: white;
    background-color: #333333;
}
.u-align-center {
    text-align: center;
}