html {
    scroll-behavior: smooth;
}
.mdl-layout__header{
    background-color: white!important ;
}
.mdl-layout__header-row{
    background-color: white!important ;
}
.mdl-layout__header .mdl-layout__drawer-button {
    color: black!important;

}
.mdl-navigation__link{
    color: black!important;
}