@charset "UTF-8";
.whole {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-width: 1000px;
  min-height: 1000px; }

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 1000px;
  padding-top: 5%;
  padding-bottom: 5%; }

.left {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  width: 50%;
  padding-left: 4%;
  box-shadow: 5px 5px 5px #000;
  display: flex;
  padding-right: 4%;
  flex-direction: column; }

.right {
  padding-top: 5%;
  padding-right: 4%;
  background-color: white;
  width: 50%;
  box-shadow: 5px 5px 5px #000;
  padding-bottom: 5%; }

.pet {
  display: flex;
  flex-direction: row;
  background-color: #FFD0CD;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 1%;
  align-items: center; }

.pet-image {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  filter: drop-shadow(1px 1px 1px #110000);
  float: left; }

.petname {
  font-size: 200%;
  padding: 5% 3%;
  text-align: right;
  text-align: left;
  color: gray;
  font-family: 'Do Hyeon', sans-serif !important;
  text-shadow: 0.5px 0.5px 0.5px black; }

#post-title {
  font-size: 230%;
  text-align: left;
  margin-left: 10%;
  line-height: 1.0;
  height: 50%;
  font-family: 'Do Hyeon', sans-serif !important; }

.post-info {
  text-align: right;
  font-size: 13px;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: 5%;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important; }

.post-info a {
  text-align: right;
  color: #000;
  cursor: pointer;
  text-decoration: none; }

.pics {
  width: 100%;
  height: 100%;
  margin-top: 5%; }

.pic {
  margin-bottom: 3%; }

.title {
  border: 1px solid #D3D3D3;
  border-radius: 3px !important;
  display: flex;
  flex-direction: column;
  padding-top: 5%; }

.post-content {
  font-size: 100%;
  font-weight: normal;
  line-height: 200%;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 30%;
  border: 1px solid #D3D3D3;
  border-radius: 3px !important;
  overflow: scroll;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important; }

.post-content::-webkit-scrollbar {
  width: 6px; }

/* 스크롤바 막대 설정*/
.post-content::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #FFBCB9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px; }

.content-footer {
  border-radius: 3px !important;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-left: 5%; }

.comments {
  display: flex;
  flex-direction: column; }

.comment {
  overflow-wrap: anywhere; }

#comment-count {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important; }

.input {
  cursor: text;
  border-bottom: 2px solid #FFBCB9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  resize: none;
  max-width: 80%; }

.button {
  background-color: #FFBCB9;
  border: none;
  width: 70px;
  height: 30px;
  float: right; }

.list {
  border: 1px solid #D3D3D3;
  height: 25%;
  border-radius: 3px !important;
  overflow: scroll; }

.list::-webkit-scrollbar {
  width: 6px; }

/* 스크롤바 막대 설정*/
.list::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #FFBCB9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px; }

.com-con {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  text-align: left;
  margin-left: 5%; }

.com-info {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-align: right;
  margin-right: 5%; }

.com-info a {
  color: #000;
  text-decoration: none; }

/*# sourceMappingURL=show.css.map */