html{
  background-color: #D9D9D9;
}

/*
.pet-image{
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  filter: drop-shadow(3px 3px 3px rgb(17, 0, 0)); 
}

.petname{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 2%;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

.pet-intro{
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.pet-intro{
  background-color:#db545a ;
  filter: drop-shadow(3px 3px 3px #000); 
}
.to-home, .back{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  filter: drop-shadow(3px 3px 3px #000); 
}

html{
  background-color: #D9D9D9;
}

.feed{
   color: black;
   background-color: white;
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
   font-family: 'Nanum Gothic', sans-serif;
   letter-spacing: 1px;
   background-image: none;
   border-radius: 50px;
   white-space: nowrap;
   padding: 2% 6%;
   margin: 2% 7%;
   height:auto;
}

.pet-title{
  display:flex;
  align-items:center;
  border-bottom: 2px solid #D9D9D9;
  margin-bottom:0;
  padding-bottom:0;
  height:100%;
  width:100%;
}

.pet-image{
  border-radius: 50% !important;
  padding: 2% 0 2% 2%; 
}

.petname{
  font-size:250%;
  padding: 5% 3%;
}

.feedzone{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  background-color: white;
  margin: 0 0 7% 0;
  height: auto;
 }
 
.feed .postzone {
   background-color: white;
   width: 50%;
   display: flex;
   flex-direction: column;
   margin: 0 6% 0 0;
   height: auto;
}

.post-content{
  text-align: center;
  font-size: 200%;
  font-weight: 100;
  padding-bottom:10%;
  height: auto;
}

.input {
  width: 70%;
  padding: 10% 0;
  height: 20%;
}

.button {
  background: white;
  color: black;
  height: 100%;
  padding: 10% 0;
  width: 20%;
  font: 100% 'Nanum-Gothic';
  text-shadow:none;
}

.feed .postzone .post-title{
  font-size: 400%;
  padding: 10% 0;
  text-align: left;
  height: auto;
}

.feed .postzone .post-date{
  text-align: right;
}

.feed .postzone img{
  width: 100%;
  height: auto;
}

.feed .postzone .edit{
  display: flex;
  justify-content: center;
}

 .feed .commentzone {
   background-color: white;
   display: flex;
   flex-direction: column;
   width: 45%;
   margin-top: 10%;
 }
 
 .feed .comments {
   display: flex;
   flex-direction: column;
   height: auto;
   width: 100%;
 }

 .comment{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   margin: 5% 0;
   white-space:pre-line;
 }

 .comment-author {
   display:block;
   font-size: 100%;
 }

 .feed .comment .comment-content {
  font-weight: lighter;
  font-size: 200%;
  line-height:110%;
  word-wrap: break-all;
  width: 100%;
  height: 100%;
  padding: 2% 0.5%;
 }

 .comment-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
 }
*/

//style by keepTaeBorn
.whole{
  background-color : #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.left{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  width: 50%;
  padding-left: 4%;
  box-shadow: 5px 5px 5px #000;
  display: flex;
  padding-right: 4%;
  flex-direction: column;
}
.right{
  padding-top: 5%;
  padding-right: 4%;
  background-color:white;
  width: 50%;
  box-shadow: 5px 5px 5px #000;
  padding-bottom: 5%;
}

.pet{
  display: flex;
  flex-direction: row;
  background-color:#FFD0CD;
  padding-top:1%;
  padding-bottom:1%;
  padding-left: 10%;
  padding-right: 1%;
  align-items: center;

}
.pet-image{
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  filter: drop-shadow(1px 1px 1px rgb(17, 0, 0)); 
  float: left;
}

.petname{
  font-size:200%;
  padding: 5% 3%;
  text-align: right;
  text-align: left;
  color: gray;
  font-family: 'Do Hyeon', sans-serif !important;
  text-shadow: 0.5px 0.5px 0.5px black;
}

#post-title{
  font-size: 230%;
  text-align: left;
  margin-left: 10%;
  line-height: 1.0;
  height: 50%;
  font-family: 'Do Hyeon', sans-serif !important;
}

.post-info{
  text-align: right;
  font-size: 13px;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: 5%;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
.post-info a{
  text-align: right;
  color:#000;
  cursor: pointer;
  text-decoration: none;
}

.pics{
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.pic{
  margin-bottom: 3%
}

.title{
  border: 1px solid #D3D3D3;
  border-radius: 3px !important;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.post-content{
  font-size: 100%;
  font-weight: normal;
  line-height: 200%;
  padding-top:5%;
  padding-bottom:10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 30%;
  border: 1px solid #D3D3D3;
  border-radius: 3px !important;
  overflow: scroll;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.post-content::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.post-content::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: #FFBCB9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
  
}

.content-footer{
  border-radius: 3px !important;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-left: 5%;
}

.comments{
  display: flex;
  flex-direction: column;
}

#comment-count{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.input{
  cursor: text;
  border-bottom: 2px solid #FFBCB9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  resize: none;
}

.button{
  background-color:#FFBCB9;
  border: none;
  width: 70px;
  height: 30px;
}

.list{
  border: 1px solid #D3D3D3;
  height: 25%;
  border: 1px solid #D3D3D3;
  border-radius: 3px !important;
  overflow: scroll;
}

.list::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.list::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: #FFBCB9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
}

.com-con{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  text-align: left;
  margin-left: 5%;
}

.com-info{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-align: right;
  margin-right: 5%;
}

.com-info a{
  color:#000;
  text-decoration: none;
}