
.feed{
   color: black;
   background-color: white;
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
   letter-spacing: 1px;
   background-image: none;
   border-radius: 50px;
   white-space: nowrap;

}

.pet-image{
   width: 100px;
   height: 100px;
   border-radius: 50% !important;
   filter: drop-shadow(3px 3px 3px rgb(17, 0, 0)); 
}

.petname{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 2%;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

.feedzone{

  align-items: center;
  background-color: white;
 }
 
.feed .postzone {
   display: flex;
   flex-direction: column;
   align-items: center;
  
   padding: 1% 1% 1% 1%;
}
 .feed .commentzone {
   background-color: white;
   display: flex;
   flex-direction: column;
   width:100%

 }
 


 .comment{
   display: flex;
   flex-direction: column;
   margin-left: 5%;
   margin-top: 2%;
 }


.pet-intro{
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.pet-intro{
  background-color:#db545a ;
  filter: drop-shadow(3px 3px 3px #000); 
}
.to-home, .back{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  filter: drop-shadow(3px 3px 3px #000); 
}
.text{
  color: rgb(240, 61, 171);
  background-color: white;
  padding: 2px 2px 2px 2px;
 
}
.right-component{
  float: right;
  display: flex;
  flex-direction: row;
  margin-left: 5%;

}
.text{
  font-size: 15px;
}
#post-title{
  background-color: #d9d9d9;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:4%;
  padding-bottom: 2%;
  white-space: pre-wrap;
}
.post-date{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.likes-and-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.u-svg-content{
  width: 25px;
  height: 25px;
}
.like{
  display: flex;
  flex-direction: row;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-write{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  width: 100%;
  margin-right: 10%;
}
.comment-button{
  background-color: #db545a;
  margin-top: 1%;
  color: white;
}
input[type=text]{
  color:black
}
.comment-count{
  margin-left: 5%;
}
.icon{
  margin-right: 5%;
}
.comment{
  display: flex;
  flex-direction: row;
}
.comment-info{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.edit{
  text-decoration: none;
  background-color: #db545a;
  display: flex;
  flex-direction: row;
}
.edit-1{
  color:white;
}