.whole{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile{
    margin-top: 2%;
    width: 50%;
    border-radius: 20px;
    background-color: #db545a;
}

.profile-text{
    text-align: center;
    color: white;
    font-family: Raleway, sans-serif !important;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 12%;
    text-shadow:  1px 1px 1px black ;
    margin-bottom: 12%;
}
.profile-title{
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    color:white;
    margin-top: 7%;
}
.profile-content{
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 1;
    word-wrap: break-word;
    color:white;
    margin-left: 10%;
    margin-top: 5%;
}

.edit{
    color: black;
    background-color: white;
    text-decoration:none;
    padding: 3% 3% 3% 3%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: 20%;
    box-shadow: 2px 2px 2px #000;
}
.edit-container{
    margin-top: 7%;
    margin-bottom: 10%;
    width: 50%;
}