<h2>
  Profile
</h2>
<div>
  <p>
    email :
    {{profile.email}}
  </p>
  <p>
    introduction :
    {{profile.introduction}}
  </p>
  {% if request.user == profile.user %}
  <a class="mdl-navigation__link" href="{% url 'editmyinfo' %}">내 정보 수정하기</a
  {% endif %}
</div>


<h2>
  Pets
</h2>
<div>
  {% for pet in pets %}
    <a href="{% url 'pets:showpet' pet.id %}">
    <p>{{pet.name}}</p>
    <p>{{pet.get_category_display}}</p>
    <p>{{pet.introduction}}</p>
    <img src="{{ pet.image.url }}"><br>
    </a>
  {% endfor %}
  {% if request.user == profile.user %}
  <a href="{% url 'pets:newpet' %}">
    Add your lovely pet!
  </a>
  {% endif %}
  <br>
  <br>
  <a href="{% url 'petPosts:index' %}">
    Back to Home
  </a>
</div>
