{% load static %}
{% load sass_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/scss/signup.scss' %}">
{% endblock style %}

<div class="wrap">
<div class="container">
    <form id="signup-form" method="POST" action="{%url 'signup' %}">
    {% csrf_token %}
    <h1> Sign Up </h1>
    Username:<input name="username" type="text" placeholder="Enter your username" value="">
    <br>
    Password:
    <input name="password1" type="password" placeholder="Enter your password" value="">
    <br>
    Confirm Password:
    <input name="password2" type="password" placeholder="Confirm your password" value="">
    <br>
    E-mail :
    <input name="email" type="text" placeholder="Enter your e-mail" value="">
    <br>
    Introductions:
    <input name="introduction" type="text" placeholder="Introduce yourself" value="">
    <br>
    <br>
    <input id="signup-button" type="submit" value="Sign Up">
    <a class="mdl-navigation__link" href="{% url 'login' %}">
        <p>Have an account?</p>
    </a>
    </form>
</div>
</div>